body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #008080;
  }

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Heading */
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  thead {
    background-color: #007bff;
    color: white;
  }
  
  thead th {
    padding: 10px;
    text-align: left;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #d7ecff;
  }
  
  tbody td, thead th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  tbody td {
    color: #555;
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    table {
      font-size: 12px;
    }
  }
/* Bagian query */
   .query-section {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.query-section button {
    margin: 10px;
    width: 180px;
    padding: 10px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.query-section button:hover {
    background-color: #007bff;
}